<h1 class="font-bold text-4xl text-primary text-center uppercase mb-4">Create your character</h1>

<div class='mb-10'>
    <app-character-list [formControl]='characterList' id='load' label='Load' (change)="loadCharacter()" />
</div>

<form class='flex flex-col gap-4' [formGroup]="characterForm" (ngSubmit)="onSubmit()">
    <app-text-input formControlName='name' id='name' label='Name'/>
    <div class='grid grid-cols-2 gap-8' formGroupName="skills">
        <app-number-input formControlName='intelligence' id='intelligence' label='Intelligence' [min]='3'/>
        <app-number-input formControlName='reflexes' id='reflexes' label='Reflexes' [min]='3'/>
        <app-number-input formControlName='dexterity' id='dexterity' label='Dexterity' [min]='3'/>
        <app-number-input formControlName='technique' id='technique' label='Technique' [min]='3'/>
        <app-number-input formControlName='cool' id='cool' label='Cool' [min]='3'/>
        <app-number-input formControlName='will' id='will' label='Will' [min]='3'/>
        <app-number-input formControlName='luck' id='luck' label='Luck' [min]='3'/>
        <app-number-input formControlName='movement' id='movement' label='Movement' [min]='3'/>
        <app-number-input formControlName='body' id='body' label='Body' [min]='3'/>
        <app-number-input formControlName='empathy' id='empathy' label='Empathy' [min]='3'/>
    </div>

    <app-submit-button label='Save'/>
    <app-reset-button (click)='characterForm.reset()' />
</form>
